<div class="container">
  <img
    [ngClass]="'responsive'"
    src="https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&h=450&q=80"
    alt="Article Image"
  />
  <div class="article">
    <p>
      Front End developer focused on solutions created with JavaScript libraries
      (Angular 2-14,Node, NgRx, RxJs and Ionic) to integrate with back end
      systems in Oracle, REST, SQLite, and Sql Server. Experience integrating
      3rd party components like NG-Zorro, Kendo UI and Angular Material.
    </p>

    <p>
      Specialties: Making designers pretty UI/UX pictures into actual
      functioning code that is cross browser, adaptive and reactive. Helping
      junior developers find solutions to their road blocks. Investigating and
      identifying process improvements. Making code, not excuses.
    </p>
  </div>
</div>
