<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    nzBreakpoint="lg"
    [nzCollapsedWidth]="0"
    nzTheme="light"
    class="zorro-slide"
  >
    <a routerLink="home">
      <div class="logo">
        <h1 class="logo">LMA</h1>
      </div>
    </a>
    <ul nz-menu nzMode="inline" nzTheme="light">
      <li nz-menu-item routerLink="home">
        <span nz-icon nzType="home"></span>
        <span>Home</span>
      </li>
      <li nz-menu-item routerLink="news">
        <span nz-icon nzType="container" nzTheme="outline"></span>
        <span>News</span>
      </li>
      <li nz-menu-item routerLink="code">
        <span nz-icon nzType="code" nzTheme="outline"></span>
        <span>Code</span>
      </li>
      <li nz-menu-item routerLink="food">
        <span nz-icon nzType="coffee" nzTheme="outline"></span>
        <span>Food</span>
      </li>
      <li nz-menu-item routerLink="travel">
        <span nz-icon nzType="picture" nzTheme="outline"></span>
        <span>Travel</span>
      </li>
      <li nz-menu-item routerLink="about">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span>About</span>
      </li>
    </ul>
  </nz-sider>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</nz-layout>
<footer class="container">&copy;{{ year }} Let's Make Awesome</footer>
