.layout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 0 8px 10px;
  color: var(--bright-maroon);
}

footer {
  margin: 2rem auto;
  padding-bottom: 2rem;
}
