<div class="container">
  <img
    [ngClass]="'responsive'"
    src="../../../assets/img/kevin-ku-w7ZyuGYNpRQ-unsplash.jpg"
    alt=""
  />
  <div class="article">
    <h1 class="article-h1">LET'S MAKE AWESOME</h1>
    <p>
      Coding is a never ending journey of learning new things. My code page has
      links to articles, videos and code samples that are useful for frontend
      and Angular development.
      <a routerLink="code" class="article-a">Code page ...</a>
    </p>
    <p>
      Go to my food page to see a list of my favorite restaurants in Boise. You
      will also find some YouTube videos of me making some delicious things. You
      can also check out my profile on TripAdvisor to see all of the restaurants
      I've been to over the years. I've also contributed quite a few photos to
      their restaurant pages.
      <a routerLink="food" class="article-a">Food page ...</a>
    </p>
  </div>
</div>
