<div class="container">
  <img
    [ngClass]="'responsive'"
    src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&h=450&q=80"
    alt=""
  />
  <div class="article">
    <p>
      After being in Boise for 2 years now I have had some time to compile this
      list of my favorite restaurants in the Boise area. These are all
      restaurants I have been to many times and really enjoy.
    </p>

    <h1 class="article-h1">Boise Restaurants</h1>

    <ul class="article-ul">
      <li>
        <a
          class="article-a"
          target="_blank"
          href="https://www.chandlersboise.com/"
        >
          Chandlers SteakHouse </a
        ><span class="cuisine">- Steak + Seafood</span>
      </li>
      <li>
        <a class="article-a" target="_blank" href="https://alavitaboise.com/">
          Alavita </a
        ><span class="cuisine">- Italian</span>
      </li>
      <li>
        <a
          target="_blank"
          class="article-a"
          href="http://www.barbacoa-boise.com"
        >
          Barbacoa </a
        ><span class="cuisine">- Steak + Seafood</span>
      </li>
      <li>
        <a target="_blank" class="article-a" href="https://bardenay.com/">
          Bardenay </a
        ><span class="cuisine">- American</span>
      </li>
      <li>
        <a
          target="_blank"
          class="article-a"
          href="https://www.maithaigroup.com/"
        >
          Mai Thai </a
        ><span class="cuisine">- Thai</span>
      </li>
      <li>
        <a target="_blank" class="article-a" href="https://bacquets.com/">
          Bacquets </a
        ><span class="cuisine">- French</span>
      </li>
      <li>
        <a target="_blank" class="article-a" href="http://www.brick29.com/">
          Brick 29 </a
        ><span class="cuisine">- American</span>
      </li>
      <li>
        <a
          target="_blank"
          class="article-a"
          href="https://www.owyheetavern.com/"
        >
          Owyhee Tavern </a
        ><span class="cuisine">- American</span>
      </li>
      <li>
        <a
          target="_blank"
          class="article-a"
          href="https://coynesrestaurant.com/"
        >
          Coynes </a
        ><span class="cuisine">- New American</span>
      </li>
      <li>
        <a
          target="_blank"
          class="article-a"
          href="https://alyonkarussiancuisine.com/"
        >
          Alyonka </a
        ><span class="cuisine">- Russian</span>
      </li>
      <li>
        <a
          target="_blank"
          class="article-a"
          href="https://www.saintlawrencegridiron.com/"
        >
          St Lawrence Gridiron </a
        ><span class="cuisine">- American</span>
      </li>
      <li>
        <a target="_blank" class="article-a" href="http://fujiyamaboise.com/">
          Fujiyama </a
        ><span class="cuisine">- Japanese</span>
      </li>
      <li>
        <a
          target="_blank"
          class="article-a"
          href="https://twigsbistro.com/locations-meridian"
        >
          Twigs Bistro and Martini Bar </a
        ><span class="cuisine">- American</span>
      </li>
      <li>
        <a target="_blank" class="article-a" href="https://capriboise.com/">
          Capri </a
        ><span class="cuisine">- Diner</span>
      </li>
      <li>
        <a target="_blank" class="article-a" href="none"> Bombay Grill </a
        ><span class="cuisine">- Indian</span>
      </li>
      <li>
        <a target="_blank" class="article-a" href="https://randrbbq.com/">
          R&amp;R BBQ </a
        ><span class="cuisine">- American</span>
      </li>
      <li>
        <a
          target="_blank"
          class="article-a"
          href="https://www.thebasquemarket.com/"
        >
          Basque Market </a
        ><span class="cuisine">- Basque</span>
      </li>
      <li>
        <a
          target="_blank"
          class="article-a"
          href="https://www.thewylderboise.com/"
        >
          The Wylder </a
        ><span class="cuisine">- American</span>
      </li>
      <li>
        <a target="_blank" class="article-a" href="https://jalapenosidaho.com/">
          Jalapenos </a
        ><span class="cuisine">- Mexican</span>
      </li>
      <li>
        <a
          target="_blank"
          class="article-a"
          href="https://www.newgardenboiseid.com/"
        >
          New Garden Chinese </a
        ><span class="cuisine">- Chinese</span>
      </li>
    </ul>

    <h1 class="article-h1">Food as a Passion</h1>
    <p>
      Growing up my grandparents were in the hospitality industry and I learned
      from a young age that if your going to do something, don't do it halfway.
      I also learned that making food from fresh ingredients is key to a
      successful establishment. I lived in Portland, Oregon for a few years
      during Portland's foodie heyday. A lot of the amazing restaurants fell
      victim to the pandemic, sadly. This inspired me to experiment in the
      kitchen and have had a lot of fun trying to recreate some of my favorite
      dishes.
    </p>
  </div>
</div>
