<div class="container">
  <img
    [ngClass]="'responsive'"
    src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&h=400&q=80"
    alt=""
  />
  <div class="article">
    <h1 class="article-h1">Code</h1>
    <p>
      I spend countless hours watching videos about coding and UI design to try
      and stay current with the latest trends and time saving techniques. I will
      never claim to know everything about my craft, but I do know where to find
      answers quickly.
    </p>

    <p>
      In recent years I have focused on Angular development, because I enjoy
      working in the frontend. I specialize in taking designers designs and make
      them into functioning applications. I feel that clear and open
      communication is the key ingredient to a successful project, from all
      parties.
    </p>

    <h1 class="article-h1">Angular Resources</h1>
    <ul class="article-ul">
      <li>
        <a href="http://angular.io/" target="_blank" class="article-a"
          >Angular.io</a
        >
      </li>
      <li>
        <a
          href="http://angular-university.io/"
          target="_blank"
          class="article-a"
          >Angular University</a
        >
      </li>
      <li>
        <a href="http://udemy.com" target="_blank" class="article-a">Udemy</a>
      </li>
    </ul>
  </div>
</div>
