<div class="container">
  <img
    [ngClass]="'responsive'"
    src="https://images.unsplash.com/flagged/photo-1555685460-1d9cf532761b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1373&h=450&q=80"
    alt="Article Image"
  />
  <div class="article">
    <h1 class="article-h1">Travel</h1>
    <p>
      For me there isn't anything more exciting than planning a trip somewhere.
      Packing the night before in anticipation of going to the airport and
      boarding a flight somewhere, anywhere. A chance to get away and take in
      the sights and sounds of a new city. To explore new restaurants and
      attractions. It is all a bit touristy but it is such and adventure for me.
      I have had the great fortune of travelling to more than 20+ differenct
      countries in North American, Europe, Africa and Scandinavia.
    </p>

    <p></p>
  </div>
</div>
