:root {
  --slate-gray: #28464b;
  --light-slate-gray: #28464b38;
  --ming: #326771;
  --mint-cream: #f1f7ed;
  --light-mint-cream: #f1f7ed51;
  --blue-munsell: #2c8c99;
  --bright-maroon: #b33951;
}
